{% extends 'base.html.twig'%}
{% block body %}

{%block title%} {% endblock%}

<h1>show post</h1>

{{dump(PostRepository)}}




<strong> Post Title:</strong>{{post.title}}
<br>
<strong> Post Description </strong>{{post.description}}
<br>
<strong> Post category  </strong>{{post.category}}

<strong> </strong>


{% endblock %}
